
body {
    background: red;
    /*link to google fonts*/
        font-family: 'Seymour One', sans-serif;
}

button {
    /*link to google fonts*/
        font-family: 'Seymour One', sans-serif;
}

/* INDEX.HTML PAGE */

.index-body {
  display: flex;
  justify-content: center;
}

.header {
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;
    text-shadow: 2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px #000,
        -1px -1px #000,
        1px -1px #000,
        -1px 1px #000;
        z-index: 1;
        position: fixed;
        text-align: center;
        width: 100%;
        margin-top: 2em;
}

.starting-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 15em;
    align-items: center;
}



#letsgo-button  {
   
   text-align: center;
    color: white;
    text-decoration: none;
    width: 250px;
    height: 70px;
    cursor: pointer;
    font-size: 2em;
    text-shadow: 2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            1px 1px #000,
            -1px -1px #000,
            1px -1px #000,
            -1px 1px #000;
    text-transform: uppercase;
    margin-top: 1em;
}



/* GAME-AREA.HTML PAGE */

.gamearea-body {
    display: flex;
    justify-content: center;
}

.game-area {

    width: 28em;
    height: 30em;
    background: red;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 5em;
   
}

.stats-container {
    display: flex;
    justify-content: space-evenly;
    
}

#timer {
    
        color: white;
        text-decoration: none;
        width: 210px;
        height: 50px;
        font-size: 1.3em;
        text-shadow: 2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            1px 1px #000,
            -1px -1px #000,
            1px -1px #000,
            -1px 1px #000;
        margin-left: 1em;
        margin-bottom: 0px;
        
}

#moves {
    
        color: white;
        text-decoration: none;
        width: 150px;
        height: 50px;
        font-size: 1.3em;
        text-shadow: 2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            1px 1px #000,
            -1px -1px #000,
            1px -1px #000,
            -1px 1px #000;
        margin-bottom: 0px;
        
       
}

.memorycards {
    
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 150px);
    width: max-content;
}

.card {
    
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    perspective: 1000px;
}

.inner-card {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;

}

.card:hover .inner-card {
    transform: rotateY(180deg);
}

.card.disable .card-revealed {
    filter: brightness(50%);
}

.card-revealed, .card-front {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.card-revealed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    
    width: 99%;
    height: auto; 
    cursor: pointer;

}

#restartbutton {
    width: 8em;
        height: 3em;
        background-color: lightgray;
        align-self: center;
        margin-bottom: 1em;
    
        text-align: center;
        color: white;
      
        cursor: pointer;
        font-size: 1.2em;
        text-shadow: 2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            1px 1px #000,
            -1px -1px #000,
            1px -1px #000,
            -1px 1px #000;
        text-transform: uppercase;
        margin-top: 1em;
        border: #000 2px solid;
        border-radius: 0.5em;
    
}

.controls {
    display: flex;
    justify-content: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
   
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .game-area {
            width: 30em;
            height: 35em;
            margin-top: 0;
    
        }

    
}

/* Media query: Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

/* GAME-AREA.HTML PAGE */

.game-area {
        width: 35em;
        height: 25em;
    }

    .memorycards {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    }
}

/* Media query: Screens bigger then 1200px */
@media screen and (min-width: 1200px) { 
}